footer.bg-dark.text-center.text-white.mt-4
  // Grid container
  .container.p-4.pb-0
    // Section: Social media
    section.mb-4
      // Facebook
      a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-facebook-f
      // Twitter
      a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-twitter
      // Google
      a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-google
      // Instagram
      a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-instagram
      // Linkedin
      a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-linkedin-in
      // Github
      a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-github
    // Section: Social media
  // Grid container
  // Copyright
  .text-center.p-3(style='background-color: rgba(0, 0, 0, 0.2);')
    | &copy; MullerDev - 2022 Copyright  
    a.text-white(href='https://mdbootstrap.com/') MullSOPORTE.com.co
  // Copyright
