doctype html


include inc/head.pug

include inc/navbar.pug

//contenido
.container.mt-4
  .fs-2.fw-bold.text-center.mb-4 Servicios
  .row.g-2
    .col.col-md-6.col-sm-12.col-12
      .bg-light.shadow.border.rounded.p-0.h-100
        .row
          .col-12
            img.img-fluid(src='img/services_1.png' alt='' srcset='')
          .col
            .p-4
              .text-center.fw-bold.fs-4.mb-3
                | Mantenimiento Preventivo y Correctivo
              .fs-6.text-start
                | Reparaci&oacute;n, Venta y mantenimiento de equipos de oficina,
                | Instalaci&oacute;n y venta de tinta continua, Especialistas en
                | impresoras, Recarga, Remanufactura, Venta de t&oacute;ner y
                | cartuchos, Fotocopiadoras, Monitor
    .col.col-md-6.col-sm-12.col-12
      .bg-light.shadow.border.rounded.p-0.h-100
        .row
          .col-12
            img.img-fluid(src='img/services_2.jpg' alt='' srcset='')
          .col
            .p-4
              .text-center.fw-bold.fs-4.mb-3
                | Cableado Estructurado
              .fs-6.text-start
                | Ofrecemos soluciones de cableado estructurado de oficina u
                | edificio, con el fin de ofrecer una conectividad segura y
                | estable de todos tus equipos activos, permitiendo la
                | integraci&oacute;n con los diferentes servicios que disponga.
                | Gracias a nuestra gran gama de marcas certificadas contamos
                | con diversas soluciones de conectividad desde fibra &oacute;ptica,
                | sistemas inal&aacute;mbricos o cobre, permitiendo una gran
                | flexibilidad de presupuestos y medios.
    
    .col.col-md-6.col-sm-12.col-12
      .bg-light.shadow.border.rounded.p-0.h-100
        .row
          .col-12
            img.img-fluid(src='https://st2.depositphotos.com/1010613/6272/i/950/depositphotos_62721859-stock-photo-cctv-technician-fixing-camera.jpg' alt='' srcset='')
          .col
            .p-4
              .text-center.fw-bold.fs-4.mb-3
                | Servicio de Monitoreo CCTV
              .fs-6.text-start
                | Contar un circuito cerrado de televisión instalado es importante para aumentar la seguridad del edificio donde reside, de su vivienda o de su establecimiento comercial y por supuesto, el primer punto antes de determinar el tipo de sistema que se comprará e instalará es comprender los requerimientos y las necesidades de seguridad , el segundo punto importante es la correcta instalación, lo que aumentará la eficiencia del sistema de vigilancia y la seguridad, reduciendo además los costos, pero aún con los dos primeros  puntos, contar con un sistema de CCTV instalado sin el monitoreo adecuado reduce considerablemente las capacidades de seguridad y de reacción.



include inc/footer.pug

script(src='js/main.js')
script(src='js/bootstrap.js')