doctype html


include inc/head.pug

include inc/navbar.pug

//contenido

.container.mt-4
    .fs-2.fw-bold.text-center.mb-4 Nuestro Equipo
    .row.g-2
        each persona in data
            .col.col-md-6.col-sm-12.col-12.col-xl-4
                .card.shadow.border-2.card-team
                    img.card-img-top.img-fluid.img-team(src='https://st.depositphotos.com/1269204/1219/i/450/depositphotos_12196477-stock-photo-smiling-men-isolated-on-the.jpg' alt='...')
                    .card-body
                        h5.card-title.text-center  #{persona.nombre} #{persona.apellido}
                        p.text-center.text-muted Ingeniero Electronico,Tecnico en Mantenimiento y reparacion de computador 
        
        
    

    


include inc/footer.pug

script(src='js/main.js')
script(src='js/bootstrap.js')